/* You can add custom styles here. */

// @import "plugins/numbered";

img {
    display: block; /* or inline-block if you want it to be inline with text */
    margin: 5% 5%;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

